.navbar{
    display:block;
    box-shadow: 0px 1px 3px -2px black;
}
.bar1{
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: space-between; /* Centers content horizontally */
    height: 30px;
    padding: 0 10px; /* Add slight padding to avoid text touching edges */
    overflow: hidden;
    background-color: rgb(242, 131, 52);
}
.bar1 p{
    margin: 0; /* Removes default margin */
    padding: 0; /* Ensures no extra spacing */
    text-align:left;
    font-size: 14px;
}
.intro1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
}
.intro1 li{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    cursor: pointer;
}
.bar2{
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: space-between; /* Centers content horizontally */
    height: 70px;
    padding: 0 10px; /* Add slight padding to avoid text touching edges */
}
.intro2{
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
}
.viglogo img {
    display: block;
    width: 150px; /* Adjust size */
    height: 60px;
}
.intro2 li{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    list-style: none;
    cursor: pointer;
}